packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  configure_new_relic:
    command: nrsysmond-config --set license_key=1f7a743ad7c938062e28955b21ffa0fe422df319
  start_new_relic:
    command: /etc/init.d/newrelic-sysmond start